<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite"  parallel="classes" thread-count="10">
    <test name="ChromeTest_build_1">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="1"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_2">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="2"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_3">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="3"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_4">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="4"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_5">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="5"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_6">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="6"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_7">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="7"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_8">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="8"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_9">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="9"></parameter>
            </class>
        </classes>
    </test>
    <test name="ChromeTest_build_Prototype">
        <parameter name="browser" value="Chrome"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="Prototype"></parameter>
            </class>
        </classes>
    </test>

    <test name="Mozila_build_1">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="1"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_2">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="2"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_3">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="3"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_4">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="4"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_5">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="5"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_6">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="6"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_7">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="7"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_8">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="8"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_9">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="9"></parameter>
            </class>
        </classes>
    </test>
    <test name="Mozila_build_Prototype">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="tests.CalculateTest">
                <parameter name="build" value="Prototype"></parameter>
            </class>
        </classes>
    </test>

<!--    <suite-files>-->
<!--        <suite-file path="negativeTest.xml"/>-->
<!--    </suite-files>-->
</suite>
